@using Microsoft.AspNetCore.Identity
@using Kindergarten2.Data.Models


@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IParentService Parents

<ul class="navbar-nav">

	@if (SignInManager.IsSignedIn(User))
	{
		var userId = User.Id();
		var userIsParent = Parents.IsParent(userId);
		var userIsAdmin = User.IsAdmin();

		@if (userIsParent&&!userIsAdmin)
		{
			<li class="nav-item">
				<a class="nav-link text-dark" asp-area="" asp-controller="Childs" asp-action="Mine">My children</a>
			</li>
		}
		else if(!userIsAdmin)
		{
			
			<li class="nav-item">
				<a class="nav-link text-dark" asp-area="" asp-controller="Parents" asp-action="Become">Register as parent</a>
			</li>
		}
			else if(userIsAdmin)
		{

			<li class="nav-item">
				<a class="nav-link text-dark" asp-area="Admin" asp-controller="Childs" asp-action="All">Administration</a>
			</li>
		}
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a>
		</li>
		<li class="nav-item">
			<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
				<button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
			</form>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
		</li>
	}
</ul>
