@model AddMenuFormModel

@{
	ViewData["Title"] = "Add Menu";
}

<div class="container">
	<div class="row">
		<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
			<h2 class="heading-margin text-center">Add Menu</h2>
			<form method="post">
				<div class="form-group">
					<label asp-for="Price"></label>
					<input asp-for="Price" class="form-control" placeholder="Add menu's price here...">
					<span asp-validation-for="Price" class="small text-danger"></span>
				</div>

				<div class="form-group">
					<label asp-for="MenuType"></label>
					<input asp-for="MenuType" class="form-control" placeholder="Add menu's type here...">
					<span asp-validation-for="MenuType" class="small text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Description"></label>
					<textarea asp-for="Description" rows="3" class="form-control" placeholder="Add the menu's description here..."></textarea>
					<span asp-validation-for="Description" class="small text-danger"></span>

				</div>
				 <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control" placeholder="Your menu's URL here...">
                <span asp-validation-for="ImageUrl" class="small text-danger"></span>
            </div>
				<input class="btn btn-primary mt-4" type="submit" value="Save"/>
			</form>
		</div>
	</div>
</div>