@model  ChildDetailsServiceModel

@{
	ViewBag.Title = "Child Details";
}

<div class="container">
	<div class="row">

		<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
			<h2 class="heading-margin text-center">@ViewBag.Title</h2>
			<form method="post">
				<div class="form-group">
					<label asp-for="FirstName"></label>
					<input asp-for="FirstName" class="form-control" placeholder=@Model.FirstName>
					
				</div>
				<div class="form-group">
					<label asp-for="MiddleName"></label>
					<input asp-for="MiddleName" class="form-control" placeholder=@Model.MiddleName>
					
				</div>
				<div class="form-group">
					<label asp-for="LastName"></label>
					<input asp-for="LastName" class="form-control" placeholder=@Model.LastName>
					
				</div>
				<div class="form-group">
					<label asp-for="Age"></label>
					<input asp-for="Age" class="form-control" placeholder=@Model.Age>
					
				</div>
				 
				<div class="form-group">
					<label asp-for="GroupName"></label>
					<input asp-for="GroupName" class="form-control" placeholder=@Model.GroupName>

				</div>
				<div class="form-group">
					<label asp-for="TripName"></label>
					<input asp-for="TripName" class="form-control" placeholder=@Model.TripName>
					
				</div>

				<div class="form-group">
					<label asp-for="MenuName"></label>
					<input asp-for="MenuName" class="form-control" placeholder=@Model.MenuName>
					
				</div>
				<div class="form-group">
					<label asp-for="ECAName"></label>
					<input asp-for="ECAName" class="form-control" placeholder=@Model.ECAName>
					
				</div>
			</form>
		</div>
	</div>

</div>





