@model TeacherFormModel

@{
	ViewBag.Title = "Add Teacher";
}


<div class="container">
	<div class="row">
		<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
			<h2 class="heading-margin text-center">@ViewBag.Title</h2>
			<form method="post">
				<div class="form-group">
					<label asp-for="FirstName"></label>
					<input asp-for="FirstName" class="form-control" placeholder="Add Teacher's first name here...">
					<span asp-validation-for="FirstName" class="small text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="LastName"></label>
					<input asp-for="LastName" class="form-control" placeholder="Add Teacher's last name here...">
					<span asp-validation-for="LastName" class="small text-danger"></span>

				</div>
				<div class="form-group">
					<label asp-for="Experience"></label>
					<input asp-for="Experience" class="form-control" placeholder="Add Teacher's years of experience here...">
					<span asp-validation-for="Experience" class="small text-danger"></span>

				</div>
				<div class="form-group">
					<label asp-for="Specialization"></label>
					<input asp-for="Specialization" class="form-control" placeholder="Add Teacher's specialization here...">
					<span asp-validation-for="Specialization" class="small text-danger"></span>

				</div>
				<div class="form-group">
					<label asp-for="Introduction"></label>
					<textarea asp-for="Introduction" rows="3" class="form-control" placeholder="Add Teacher's introduction here..."></textarea>
					<span asp-validation-for="Introduction" class="small text-danger"></span>

				</div>
				 <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control" placeholder="Your teacher's URL here...">
                <span asp-validation-for="ImageUrl" class="small text-danger"></span>
            </div>
				 <div class="form-group">
                <label asp-for="GroupId"></label>
                <select asp-for="GroupId" class="form-control">
                    @foreach (var category in Model.Groups)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="GroupId" class="small text-danger"></span>
            </div>

            <input class="btn btn-primary mt-4" type="submit" value="Save" />
			</form>
		</div>
	</div>
</div>