@model TripServiceModel

<h5 class="card-title text-center"> Please confirm you want to delete this entry.</h5>
					
						<a asp-controller="Trips" asp-action="All" asp-route-id="@Model.Id" class="btn btn-warning">No</a>
						<a asp-controller="Trips" asp-action="DeleteConfirmed" asp-route-id="@Model.Id"  class="btn btn-danger">Yes</a>
					
